In [2]:
a = 1

print(type(a))

<class 'int'>

- contoh tipe data string (str)

In [3]:
a = 'tes'

print(type(a))

<class 'str'>

In [5]:
a = "tes"

print(type(a))

<class 'str'>

- contoh tipe data float

In [6]:
a = 3.14
print(type(a))

<class 'float'>

- contoh tipe data complex

In [7]:
a = 1j
print(type(a))

<class 'complex'>

- JELASKAN MAKSUD DARI PENERAPAN VARIBEL TERKAIT TIPE DATA INT DIBAWAH INI

In [8]:
a = 2 
b = int(2)

print(a)
print(b)

2
2

In [15]:
from enum import Enum

class Hari(Enum):
    senin = 1
    selasa = 2
    rabu = 3
    kamis = 4
    jumat = 5
    sabtu = 6
    minggu = 7
    
for Hari in ((((((((((((((((((((((((((((Hari)))))))))))))))))))))))))))):
    print(Hari.value, "-", Hari)

1 - Hari.senin
2 - Hari.selasa
3 - Hari.rabu
4 - Hari.kamis
5 - Hari.jumat
6 - Hari.sabtu
7 - Hari.minggu